.job-list-container{
    max-width: 900px;
    margin: 20px auto;
    font-family: "Rubik", sans-serif;       
    height: auto;
}

.job-list-container h3{
    font-size: 30px;
    border-left: 4px solid #06062e;
    padding-left: 20px;
    margin-top:200px;
}

.job-list-container .jobs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
}

.job-list-container .jobs img{
    width: 60px;
}

.job-list-container .job{
    box-shadow: 0 4px 24px -8px rgba(2, 48, 71, 0.2);
    padding: 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    transition: all 400ms ease;
    margin-top: 30px;
    margin-left: 20px;
}

.job-list-container .job:hover{
    transform: scale(1.03);
    background-color: #fff;
}


.job-list-container .job-title{
    font-size: 20px;
    padding: 10px 0;
    margin: 0;
    color: #230470;
}

.job-list-container .details{
    margin-top: 6px;
    font-size: 14px;
    color: #333;
    line-height: 1.8;
    flex: 1;
}

.job-list-container .details-btn{
    text-decoration: none;
    border: 1px solid #230470;
    color: #000;
    padding: 8px 16px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
    transition: all 400 ease;
}

.job-list-container .details-btn:hover{
    background: #230470;
    color: #fff
}

@media(max-width:900px){
    .job-list-container .jobs{
        grid-template-columns: 1fr 1fr;
    }

}

@media(max-width:640px){
    .job-list-container .jobs{
        grid-template-columns: 1fr;
        max-width: 400px;
        margin: 0 auto
    }

}
