.about .section-padding{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.about .section-padding .row{
    align-items: center;
    justify-content: center;
    display: flex;
}

